#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
.flattened-pom.xml

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env
.helix/

# Plugin directory
/.quarkus/cli/plugins/

# vue build
src/main/resources/META-INF/resources








.DS_Store
/src/main/webapp/node_modules
/src/main/webapp/dist


# local env files
/src/main/webapp/.env.local
/src/main/webapp/.env.*.local

# Log files
/src/main/webapp/npm-debug.log*
/src/main/webapp/yarn-debug.log*
/src/main/webapp/yarn-error.log*
/src/main/webapp/pnpm-debug.log*

# Editor directories and files
/src/main/webapp/.idea
/src/main/webapp/.vscode
/src/main/webapp/*.suo
/src/main/webapp/*.ntvs*
/src/main/webapp/*.njsproj
/src/main/webapp/*.sln
/src/main/webapp/*.sw?
